<div class="feature-view-tab__content">
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <span class="feature-view__title">Dados Cadastrais</span>
                </div>
            </div>
            <div class="row feature-view__group">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Comprador</span>
                            </div>
                            <div>
                                <span title="{{ order?.customer }}" class="feature-view__value">{{ order?.customer }}</span>
                            </div>
                        </div>
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Produto Id</span>
                            </div>
                            <div>
                                <span title="{{ order?.productId }}" class="feature-view__value">{{ order?.productId }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 feature-view__body">
                            <div>
                                <span class="feature-view__label">Quantidade</span>
                            </div>
                            <div>
                                <span title="{{ order?.quantity }}" class="feature-view__value">{{ order?.quantity }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="feature-view-tab__footer">
    <button class="ndd-ng-button ndd-ng-button--primary" (click)="onEdit()">Editar</button>
    <button class="ndd-ng-button ndd-ng-button--cancel" (click)="redirect()">Voltar</button>
</div>
<div class="ndd-ng-spinner__spinner" *ngIf="isLoading"></div>
<div class="ndd-ng-spinner__color" *ngIf="isLoading"></div>